@font-face {
    font-family: "Panefresco-400wt-Regular-Custom";
        src: url("../fonts/panefresco-400wt-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Panefresco-400wt-Italic-Custom";
        src: url("../fonts/panefresco-400wt-italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Panefresco-400wt-Regular-Custom;
    padding: 0px;
    margin: 0px;
    color: black;
    font-size: 17px;
}

body {
	background: url(../img/cubes.png) #F4F4F4;
}

h1 {
	font-family: Panefresco-400wt-Italic-Custom;
}

button {
	display: block;
	border-radius: 2px;
	width: auto;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background: #2979CD;
	border: 1px solid #11608E;
	cursor: pointer;
}

.alerta-verde {
	color: green;
}

.alerta-roja {
	color: red;
}

.listado-errores {
	margin-top: 10px;
	margin-left: 25px;
}

header {
	background: #F0F0F0;
}

nav {
	background: #222;
	color: white;
	height: 55px;
	clear: both;
	border-bottom: 4px solid #01B1EA;
}

nav ul {
	list-style: none;
	text-decoration: none;
	margin: 0px auto;
	margin-left: 25px;
}

nav ul li {
	line-height: 55px;
	float: left;
}

nav ul li a {
	display: block;
	color: white;
	text-decoration: none;
	padding-left: 12px;
	padding-right: 12px;
	transition: all 300ms;
}

nav ul li a:hover {
	background: #01B1EA;
}